<div class="col-10">
    <h1>Akshaya Mashankar</h1>
    <mat-list>
        <mat-list-item >
          <mat-icon mat-list-icon><i class="fa fa-google-plus-square text-success" aria-hidden="true"></i></mat-icon>
          <h4 mat-line>email</h4>
          <p mat-line> akxaya@gmail.com </p>
        </mat-list-item>
        <mat-divider></mat-divider>        
        <mat-list-item>
          <mat-icon mat-list-icon><i class="fa fa-chrome text-danger" aria-hidden="true"></i></mat-icon>
          <h4 mat-line>Blog</h4>
          <p mat-line> <a href="http://akshaya-m.blogspot.com/">Akshaya's Blog</a> </p>
        </mat-list-item>
        <mat-divider></mat-divider>        
        <mat-list-item>
          <mat-icon mat-list-icon><i class="fa fa-mobile text-warning" aria-hidden="true"></i></mat-icon>
          <h4 mat-line>Contact</h4>
          <p mat-line> +1 xxx.xxx.2899 </p>
        </mat-list-item>
        <mat-divider></mat-divider>        
        <mat-list-item>
          <mat-icon mat-list-icon><i class="fa fa-linkedin-square text-info" aria-hidden="true"></i></mat-icon>
          <h4 mat-line>linkedin</h4>
          <p mat-line> <a href="https://www.linkedin.com/in/akxaya">Akshaya's LinkedIn</a> </p>
        </mat-list-item>
      </mat-list>
</div>